streamlit
pandas
numpy
uuid
plotly
requests
Pillow
torch
transformers
pymupdf
SpeechRecognition
soundfile
pydub
groq
ffmpeg-python
streamlit
pandas
numpy
plotly
transformers
torch
pymupdf
groq
